<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997427785224-i32ichlbo1b2k2cg2k0ih3ca91hcfegj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997427785224-i32ichlbo1b2k2cg2k0ih3ca91hcfegj</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzJrxnrKyk5JO7_tHjWMVo94GbhU5i8M</string>
	<key>GCM_SENDER_ID</key>
	<string>997427785224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mu.cyberstorm.depistazmu</string>
	<key>PROJECT_ID</key>
	<string>corona-mapp</string>
	<key>STORAGE_BUCKET</key>
	<string>corona-mapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997427785224:ios:effe14d47871da016b6bbd</string>
	<key>DATABASE_URL</key>
	<string>https://corona-mapp.firebaseio.com</string>
</dict>
</plist>